{{#> n-conversion-forms/partials/section }}
{{#*inline "message"}}
<p class="prospect-form-table__description">{{#if description}}{{description}}{{else}}Contact Us{{/if}}</p>
<table class="prospect-form-table">
    <tr>
        <th class="prospect-form-table__header">UK</th>
        <td class="prospect-form-table__data"><a href="tel:+442078734001">+44 (0)20 7873 4001</a></td>
    </tr>
    <tr>
        <th class="prospect-form-table__header">Americas <span class="prospect-form-table__header--aside">(toll free)</span></th>
        <td class="prospect-form-table__data"><a href="tel:+18778433399">+1 877 843 3399</a></td>
    </tr>
    <tr>
        <th class="prospect-form-table__header">Asia</th>
        <td class="prospect-form-table__data"><a href="tel:+6329825780">+632 982 5780</a></td>
    </tr>
</table>
{{/inline}}
{{/ n-conversion-forms/partials/section }}
