<div class="o-grid-container">
	<div class="o-grid-row o-grid-row--compact">
		<div data-o-grid-colspan="center 10 S8"><h1 class="confirmation__title">Oops! Something went wrong.</h1></div>
	</div>
	<div class="o-grid-row o-grid-row--compact">
		<div data-o-grid-colspan="center 10 S8" class="confirmation__message">We are sorry we could not submit your information at this time. However, if you want to talk to us immediately about your enquiry for a group subscription feel free to call us on the numbers below.</div>
	</div>
	<div class="o-grid-row o-grid-row--compact">
		<div class="confirmation__panel" data-o-grid-colspan="center 12 S10">
			<strong class="confirmation__call-us">Contact Us</strong>
			<ul class="confirmation__contact-list">
				<li>UK +44 (0)20 7873 4001</li>
				<li>US (toll free) +1 1877 843 3399</li>
				<li>Asia +632 982 5780</li>
			</ul>
		</div>
	</div>

</div>
