<div class="o-grid-container">
	<div class="o-grid-row" data-o-grid-colspan="12 S10 M8 L6 XL4 center">
		<form class="ncf" method="POST" data-trackable-page="form" data-trackable="b2b-prospect-form" data-o-component="o-forms">

			{{#ifEquals marketingName 'factiva'}}
			<h1 class="prospect-form__heading">Contact us for FT Group Subscription options</h1>
			{{/ifEquals}}
			{{#if isUnmasking}}
			<h1 class="prospect-form__title">Keep your team informed</h1>
			<h2 class="prospect-form__heading">And get 30 more days of free FT</h2>
			<p class="prospect-form__subheading">
				Fill in the form below and a product specialist will contact
				you about a trial for your team
			</p>
			{{/if}}

			<input type="hidden" name="numberOfEmployees" value="0" />
			<input type="hidden" name="rating" value="{{ marketingName }}" />
			<input type="hidden" name="leadSource" value="FT.com" />
			<input type="hidden" name="Industry_Sector__c" value="null" />
			<input type="hidden" name="Lead_Type__c" value="Corporate" />
			<input type="hidden" name="CPCCampaign__c" value="{{campaignId}}" />
			<input type="hidden" name="GCLID__c" value="" />
			<input type="hidden" name="Comments" value="" />
			<input type="hidden" name="mkto2__Original_Referrer__c" value="{{spoorId}}" />

			{{#if error}}
			<div class="prospect-form__message prospect-form__message--error">
				<p>{{error}}</p>
			</div>
			{{/if}}

			{{> n-conversion-forms/partials/firstname }}

			{{> n-conversion-forms/partials/lastname }}

			{{> n-conversion-forms/partials/job-title }}

			{{> n-conversion-forms/partials/company-name }}

			{{> n-conversion-forms/partials/email value=emailValue isB2b=true}}

			{{> n-conversion-forms/partials/phone isB2b=true }}

			{{> n-conversion-forms/partials/country options=countries }}

			{{#ifAll @root.flags.channelsBarrierConsent consent}}
				<div>
				{{> n-profile-ui/templates/consent showHeading=true showSubmitButton=false formOfWords=consent isSubsection=true}}
				</div>
			{{else}}
				{{#> n-conversion-forms/partials/fieldset name="accept-terms" legend="Terms and conditions" }}
				{{#*inline "fields"}}

				{{> n-conversion-forms/partials/accept-terms isChecked=true isB2b=true }}

				{{/inline}}
				{{/ n-conversion-forms/partials/fieldset }}
			{{/ifAll}}

			{{#unless isUnmasking}}

			{{> n-conversion-forms/partials/submit label="Submit enquiry" }}

			{{else}}

			{{> n-conversion-forms/partials/submit label="Request a call back" isCentered=true }}
			<p class="prospect-form-table__introduction">We'll usually call you within 24 hours</p>
			{{#> n-conversion-forms/partials/section }}
			{{#*inline "message"}}
			<p class="prospect-form-table__description">Or speak to a product specialist immediately:</p>
			<table class="prospect-form-table">
				<tr>
					<th class="prospect-form-table__header">UK</th>
					<td class="prospect-form-table__data"><a href="tel:+442078734001">+44 (0)20 7873 4001</a></td>
				</tr>
				<tr>
					<th class="prospect-form-table__header">Americas <span class="prospect-form-table__header--aside">(toll free)</span></th>
					<td class="prospect-form-table__data"><a href="tel:+18778433399">+1 877 843 3399</a></td>
				</tr>
				<tr>
					<th class="prospect-form-table__header">Asia</th>
					<td class="prospect-form-table__data"><a href="tel:+6329825780">+632 982 5780</a></td>
				</tr>
			</table>
			{{/inline}}
			{{/ n-conversion-forms/partials/section }}

			{{/unless}}
		</form>
		<div class="prospect-form__overlay">
			<div class="prospect-form__spinner"></div>
		</div>
	</div>
</div>
