@include oForms();

.prospect-form {

	&__title {
		@include oTypographySans($scale: 2);
		font-weight: bold;

		@include oGridRespondTo(S) {
			padding: 0 10px;
		}
	}

	&__heading {
		@include oTypographySans($scale: 2);
		font-weight: normal;

		@include oGridRespondTo(S) {
			padding: 0 10px;
		}
	}

	&__subheading {
		@include oTypographySans($scale: 1);

		@include oGridRespondTo(S) {
			padding: 0 10px;
		}
	}

	&-explination {
		text-align: center;
	}

	&-section__message {
		@include oTypographySize($scale: 0);
	}
	
	&-table {
		width: 100%;
		padding-bottom: 10px;

		&__header {
			text-align: left;
	
			&--aside {
				font-weight: normal;
			}
		}
	}

	&__submit {
		@include oButtons($size: big, $theme: primary);
		max-width: $_o-forms-field-max-width;
		width: 100%;
		font-weight: bold;
	}
}