@include oForms($class: 'prospect-form');

@include oFormsMessage($class: 'prospect-form');

.prospect-form__errortext {
	display: none;
}

.o-forms--error .prospect-form__errortext {
	display: block;
}

.prospect-form__submit {
	@include oButtons($size: big, $theme: primary);
	max-width: $_o-forms-field-max-width;
	width: 100%;
	font-weight: bold;

	@include _oFormsBreakpoint {
			margin-right: $_o-forms-padding;
			margin-left: $_o-forms-padding;
		}
}
