.prospect-form {

	&__title {
		@include oTypographySans($scale: 2);
		font-weight: bold;
	}

	&__heading {
		@include oTypographySans($scale: 2);
		font-weight: normal;
	}

	&__subheading {
		@include oTypographySans($scale: 1);
	}

	&-table {
		@include oTypographySans($scale: 0);
		width: 100%;
		padding-bottom: 10px;

		&__introduction {
			margin-bottom: 40px;
			text-align: center;
		}

		&__description {
			@include oTypographySans($scale: 0);
		}

		&__header {
			text-align: left;

			&--aside {
				font-weight: normal;
			}
		}
	}
}