.prospect-form__overlay {
	visibility: hidden;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	text-align: center;
	height: 100vh;

	&--active {
		visibility: visible;
	}
}

.prospect-form__spinner {
	@include oLoadingContent($opts: (
		'theme': 'light',
		'size': 'large'
	));
	margin-top: 250px;
}

// no loading spinner if no js
.no-js .prospect-form__overlay {
	display: none;
}
